In [2]:
import pandas as pd
import requests
import ast
import numpy as np

More info on requests library can be found [here](http://docs.python-requests.org/en/master/user/quickstart/)

# Simple example

In [61]:
# set endpoint URL
url = 'https://data.austintexas.gov/resource/x9yh-78fz.json'
# query params
payload = {'fiscal_year_issued': '2018'}
           'contractor_zip': '78749',
           '$select': 'condominium, total_job_valuation,\
               longitude, latitude, permittype, total_new_add_sqft, \
               total_existing_bldg_sqft'}
# API token
headers = {'X-App-Token': 'HLR3sDnaPUVVakzmZzKPpFMkJ'}

In [62]:
res = requests.get(url, params=payload, headers=headers)

In [63]:
print(res.status_code)
res.status_code == requests.codes.ok

200

True

In [64]:
# let's take a look at the header information
ast.literal_eval(res.headers['X-SODA2-Fields'])

['applicant_address1',
 'applicant_address2',
 'applicant_city',
 'applicant_full_name',
 'applicant_org',
 'applicant_phone',
 'applicant_phone_type',
 'applicantzip',
 'applieddate',
 'building_valuation',
 'building_valuation_remodel',
 'calendar_year_issued',
 'completed_date',
 'condominium',
 'contractor_address1',
 'contractor_address2',
 'contractor_city',
 'contractor_company_name',
 'contractor_full_name',
 'contractor_phone',
 'contractor_phone_type',
 'contractor_trade',
 'contractor_zip',
 'council_district',
 'day_issued',
 'description',
 'electrical_valuation',
 'electrical_valuation_remodel',
 'expiresdate',
 'fiscal_year_issued',
 'housing_units',
 'issue_date',
 'issue_method',
 'issued_in_last_30_days',
 'jurisdiction',
 'latitude',
 'legal_description',
 'link',
 'link_description',
 'location',
 'location_address',
 'location_city',
 'location_state',
 'location_zip',
 'longitude',
 'masterpermitnum',
 'mechanical_valuation',
 'mechanical_valuation_remodel',
 'medgas_valuation',
 'medgas_valuation_remodel',
 'number_of_floors',
 'original_address1',
 'original_city',
 'original_state',
 'original_zip',
 'permit_class',
 'permit_class_mapped',
 'permit_location',
 'permit_number',
 'permit_type_desc',
 'permittype',
 'plumbing_valuation',
 'plumbing_valuation_remodel',
 'project_id',
 'remodel_repair_sqft',
 'status_current',
 'statusdate',
 'tcad_id',
 'total_existing_bldg_sqft',
 'total_job_valuation',
 'total_new_add_sqft',
 'total_valuation_remodel',
 'work_class']

In [7]:
def get_unique_keys(list_of_dicts):
    '''
    return unique keys from within a list of dicts
    '''
    json_keys = []
    for row in list_of_dicts:
        for k in row.keys():
            json_keys.append(k)
    return set(json_keys)

In [8]:
# create a template dictionary
# consisting of all unique keys
# within input dataset
df_dict = {}
for key in get_unique_keys(res.json()):
    df_dict[key] = []
    
# fill in the dictionary with
# values from the API call
# making sure to input nulls
# where needed
for row in res.json():
    for k in list(df_dict.keys()):
        try:
            df_dict[k].append(row[k])
            continue
        except KeyError:
            df_dict[k].append(np.nan)

In [9]:
# cram the dictionary into a dataframe
df = pd.DataFrame.from_dict(df_dict)

In [10]:
df.head(2)

,condominium,latitude,longitude,permittype,total_existing_bldg_sqft,total_job_valuation,total_new_add_sqft
0,NaN,30.22768623,-97.78692854,DS,NaN,NaN,NaN
1,No,30.16809048,-97.9131181,EP,NaN,NaN,1536

In [27]:
df.shape

(2000, 6)

# Let's page through the data

In [182]:
def page_api(n, api_key):
    
    # set endpoint URL
    url = 'https://data.austintexas.gov/resource/x9yh-78fz.json'
    # query params
    payload = { '$limit': 1500,
                '$order': ':id',
                '$offset': 1000,
                '$select': 'longitude, latitude, \
                    permittype, applieddate'}
    # API token
    headers = { 'X-App-Token': api_key }
    
    res = requests.get(url, params=payload, headers=headers)
    
    # create a template dictionary
    # consisting of all unique keys
    # within input dataset
    df_dict = {}
    for key in get_unique_keys(res.json()):
        df_dict[key] = []

    # fill in the dictionary with
    # values from the API call
    # making sure to input nulls
    # where needed
    for row in res.json():
        for k in list(df_dict.keys()):
            try:
                df_dict[k].append(row[k])
                continue
            except KeyError:
                df_dict[k].append(np.nan)
    
    df = pd.DataFrame.from_dict(df_dict)
    print('initial', df.shape)
    
    for offset, limit in get_page_indexes(n):
        payload['$limit'] = limit
        payload['$offset'] = offset
        print(payload)
        
        res = requests.get(url, params=payload, headers=headers)

        # fill in the dictionary with
        # values from the API call
        # making sure to input nulls
        # where needed
        for row in res.json():
            for k in list(df_dict.keys()):
                try:
                    df_dict[k].append(row[k])
                    continue
                except KeyError:
                    df_dict[k].append(np.nan)
    
        # cram the dictionary into a dataframe
        df_paged = pd.DataFrame.from_dict(df_dict)
        
        print(df_paged.shape)

        df_paged['applieddate'] = pd.to_datetime(df_paged.copy()['applieddate'], format='%Y-%m-%d', errors='coerce')

        permit_encoder = {'EP': 0, 'MP': 1, 'PP': 2, 'BP': 3, 'DS': 4}
        df_paged['permittype'] = df_paged.copy()['permittype'].apply(lambda x: permit_encoder[x] if x else 999)

        for i in ['latitude', 'longitude']:
            df_paged[i] = df_paged.copy()[i].astype(float)
            
        df.append(df_paged, ignore_index=True)
#         df = pd.concat([df, df_paged], axis=0, ignore_index=True)
            
    return df
    
        # send request to api endpoint
#         res = requests.get(url, params=payload, headers=headers)

In [183]:
page_api(1500, 'HLR3sDnaPUVVakzmZzKPpFMkJ')

initial (1500, 4)
{'$limit': 1000, '$order': ':id', '$offset': 1, '$select': 'longitude, latitude,                     permittype, applieddate'}
(2500, 4)
{'$limit': 1501, '$order': ':id', '$offset': 1001, '$select': 'longitude, latitude,                     permittype, applieddate'}
(4001, 4)

                  applieddate     latitude     longitude permittype
0     2007-03-13T00:00:00.000  30.31097355  -97.72413453         PP
1     2007-03-13T00:00:00.000  30.31097355  -97.72413453         EP
2     2007-03-13T00:00:00.000  30.31097355  -97.72413453         MP
3     2007-03-13T00:00:00.000  30.31097355  -97.72413453         PP
4     2007-03-15T00:00:00.000  30.18594826  -97.75125441         EP
5     2007-02-12T00:00:00.000  30.18093613  -97.91978591         BP
6     2007-02-12T00:00:00.000  30.18093613  -97.91978591         DS
7     2007-02-12T00:00:00.000  30.18093613  -97.91978591         EP
8     2007-02-12T00:00:00.000  30.18093613  -97.91978591         MP
9     2007-02-12T00:00:00.000  30.18093613  -97.91978591         PP
10    2007-03-15T00:00:00.000   30.2541229  -97.72625054         EP
11    2007-03-15T00:00:00.000  30.49812585   -97.7793306         BP
12    2007-03-15T00:00:00.000  30.49812585   -97.7793306         DS
13    2007-03-15T00:00:00.000  30.49812585   -97.7793306         EP
14    2007-03-15T00:00:00.000  30.49812585   -97.7793306         MP
15    2007-03-15T00:00:00.000  30.49812585   -97.7793306         PP
16    2007-03-15T00:00:00.000  30.29298791  -97.68652497         BP
17    2007-03-15T00:00:00.000  30.33686283  -97.99078526         EP
18    2007-03-15T00:00:00.000  30.29298791  -97.68652497         DS
19    2007-03-15T00:00:00.000  30.29298791  -97.68652497         EP
20    2007-03-15T00:00:00.000  30.29298791  -97.68652497         MP
21    2007-03-15T00:00:00.000  30.29298791  -97.68652497         PP
22    2007-03-15T00:00:00.000  30.36050111  -97.64262618         BP
23    2007-03-15T00:00:00.000  30.36050111  -97.64262618         DS
24    2007-03-15T00:00:00.000  30.36050111  -97.64262618         EP
25    2007-03-15T00:00:00.000  30.36050111  -97.64262618         MP
26    2007-03-15T00:00:00.000  30.36050111  -97.64262618         PP
27    2007-03-15T00:00:00.000  30.19354377  -97.88634853         EP
28    2007-03-15T00:00:00.000  30.43854408  -97.76906066         EP
29    2007-03-15T00:00:00.000  30.43854408  -97.76906066         EP
...                       ...          ...           ...        ...
1470  2007-03-15T00:00:00.000  30.21691686  -97.77634075         EP
1471  2007-03-26T00:00:00.000  30.31273375  -97.73022088         EP
1472  2007-03-26T00:00:00.000  30.44285889  -97.75448393         PP
1473  2007-03-26T00:00:00.000   30.2010106   -97.6381549         EP
1474  2007-03-26T00:00:00.000  30.33296402  -97.93049747         BP
1475  2007-03-26T00:00:00.000  30.33296402  -97.93049747         EP
1476  2007-03-26T00:00:00.000  30.33296402  -97.93049747         PP
1477  2007-03-26T00:00:00.000  30.24723478  -97.74504126         EP
1478  2007-03-13T00:00:00.000  30.32158135  -97.74324348         BP
1479  2007-03-26T00:00:00.000   30.2361791  -97.80636808         BP
1480  2007-03-26T00:00:00.000   30.2361791  -97.80636808         EP
1481  2007-03-23T00:00:00.000  30.19620018  -97.69653798         BP
1482  2007-03-23T00:00:00.000  30.19620018  -97.69653798         DS
1483  2007-03-23T00:00:00.000  30.19620018  -97.69653798         EP
1484  2007-03-23T00:00:00.000  30.19620018  -97.69653798         MP
1485  2007-03-23T00:00:00.000  30.19620018  -97.69653798         PP
1486  2007-03-26T00:00:00.000  30.24667785  -97.74878788         DS
1487  2007-03-19T00:00:00.000  30.29130627  -97.66815411         BP
1488  2007-03-19T00:00:00.000  30.29130627  -97.66815411         DS
1489  2007-03-19T00:00:00.000  30.29130627  -97.66815411         EP
1490  2007-03-19T00:00:00.000  30.29130627  -97.66815411         MP
1491  2007-03-19T00:00:00.000  30.29130627  -97.66815411         PP
1492  2007-03-26T00:00:00.000  30.24527983  -97.77463939         EP
1493  2006-05-17T00:00:00.000  30.17238499  -97.79907196         MP
1494  2007-03-26T00:00:00.000   30.1614511  -97.74457553         EP
1495  2007-03-26T00:00:00.000  30.17435522  -97.71803884         EP
1496  2007-03-26T00:00:00.000  30.49921403  -97.77900636         BP
1497  2007-03-26T00:00:00.000  30.49921403  -97.77900636         DS
1498  2007-03-26T00:00:00.000  30.29857092  -97.76670688         BP
1499  2007-03-26T00:00:00.000  30.49921403  -97.77900636         EP

[1500 rows x 4 columns]

In [161]:
def get_page_indexes(n, page_size=1000):
    
    cur_row = 1
    page_size = page_size
    first_loop_flag = 1
    
    page_indexes = []
    
    while cur_row < n:
        if first_loop_flag == 1:
#             print('from: ', cur_row, ' offset: ', page_size )
            page_indexes.append([cur_row, page_size])
            cur_row += page_size
            first_loop_flag = 0
        else:
            if n < cur_row + page_size - 1:
#                 print('bang!')
#                 print('from: ', cur_row, ' offset: ', cur_row + n % page_size )
                page_indexes.append([cur_row, cur_row + n % page_size])
                cur_row += n % page_size
            else:
#                 print('from: ', cur_row, ' offset: ', cur_row + page_size - 1 )
                page_indexes.append([cur_row, cur_row + page_size - 1])
                cur_row += page_size
    
    return page_indexes

In [181]:
for i,j in get_page_indexes(1500):
    print(i,j)

1 1000
1001 1501

In [135]:
5050 % 1000

50

In [136]:
page_api(5050, 'foo')

from:  1  offset:  1000
from:  1001  offset:  2000
from:  2001  offset:  3000
from:  3001  offset:  4000
from:  4001  offset:  5000
bang!
from:  5001  offset:  5051

In [95]:
while cur_row < n:

5.5

In [66]:
'HLR3sDnaPUVVakzmZzKPpFMkJ'

In [68]:
res.status_code

200

In [69]:
# create a template dictionary
# consisting of all unique keys
# within input dataset
df_dict = {}
for key in get_unique_keys(res.json()):
    df_dict[key] = []
    
# fill in the dictionary with
# values from the API call
# making sure to input nulls
# where needed
for row in res.json():
    for k in list(df_dict.keys()):
        try:
            df_dict[k].append(row[k])
            continue
        except KeyError:
            df_dict[k].append(np.nan)

In [70]:
# cram the dictionary into a dataframe
df = pd.DataFrame.from_dict(df_dict)

df['applieddate'] = pd.to_datetime(df.copy()['applieddate'], format='%Y-%m-%d', errors='coerce')

permit_encoder = {'EP': 0, 'MP': 1, 'PP': 2, 'BP': 3, 'DS': 4}
df['permittype'] = df.copy()['permittype'].apply(lambda x: permit_encoder[x] if x else 999)

for i in ['latitude', 'longitude']:
    df[i] = df.copy()[i].astype(float)

In [93]:
df.head()

  applieddate   latitude  longitude  permittype total_job_valuation
0  2007-04-02  30.154107 -97.788541           0                 NaN
1  2007-04-02  30.154107 -97.788541           1                 NaN
2  2007-04-02  30.154107 -97.788541           2                 NaN
3  2006-09-29  30.260486 -97.732000           3              145000
4  2006-09-29  30.260486 -97.732000           4                 NaN

In [94]:
df.dtypes

applieddate            datetime64[ns]
latitude                      float64
longitude                     float64
permittype                      int64
total_job_valuation            object
dtype: object

In [86]:
df['permittype'].unique()

array([0, 1, 2, 3, 4])

In [60]:
pd.concat([df, pd.DataFrame.from_dict(df_dict)], axis=0, ignore_index=True)

,latitude,longitude,permittype,total_existing_bldg_sqft,total_job_valuation,total_new_add_sqft
0,30.25382724,-97.71579756,BP,NaN,90307,849
1,30.18917783,-97.75088001,BP,NaN,NaN,NaN
2,30.26009874,-97.72824677,EP,NaN,NaN,NaN
3,30.28191734,-97.66106437,EP,NaN,NaN,NaN
4,30.28191734,-97.66106437,MP,NaN,NaN,NaN
5,30.28191734,-97.66106437,PP,NaN,NaN,NaN
6,30.20560396,-97.83157149,BP,NaN,NaN,NaN
7,30.30284798,-97.66556269,BP,NaN,NaN,NaN
8,30.24055526,-97.74986085,BP,NaN,82000,1648
9,30.24055526,-97.74986085,EP,1452,NaN,1648
10,30.24055526,-97.74986085,MP,1452,NaN,1648
11,30.24055526,-97.74986085,PP,1452,NaN,1648
12,30.38630537,-97.85106594,BP,NaN,60000,723
13,30.38630537,-97.85106594,EP,NaN,NaN,723
14,30.49448632,-97.79454776,PP,NaN,NaN,NaN
15,30.37200615,-97.68172351,BP,NaN,NaN,NaN
16,30.17064812,-97.84809383,BP,NaN,82192,2432
17,30.17064812,-97.84809383,EP,NaN,NaN,2432
18,30.17064812,-97.84809383,MP,NaN,NaN,2432
19,30.17064812,-97.84809383,PP,NaN,NaN,2432
20,30.49659589,-97.79427301,PP,NaN,NaN,NaN
21,30.33454589,-97.74498492,EP,NaN,NaN,NaN
22,30.18846706,-97.90862196,BP,NaN,25000,687
23,30.18846706,-97.90862196,EP,NaN,NaN,687
24,30.45830467,-97.79630113,EP,NaN,NaN,NaN
25,30.37323277,-97.63607911,EP,NaN,NaN,NaN
26,30.5032277,-97.7636095,PP,NaN,NaN,NaN
27,30.35585822,-97.72164543,BP,NaN,95000,932
28,30.2881634,-97.66978114,PP,NaN,NaN,NaN
29,30.16949501,-97.8391469,BP,NaN,23000,560
...,...,...,...,...,...,...
3970,30.25121998,-97.79465861,BP,NaN,76000,319
3971,30.25121998,-97.79465861,EP,2900,NaN,319
3972,30.25121998,-97.79465861,MP,2900,NaN,319
3973,30.25121998,-97.79465861,PP,2900,NaN,319
3974,30.51155562,-97.75290157,BP,NaN,131824,3902
3975,30.27415805,-97.75296367,EP,NaN,NaN,NaN
3976,30.51155562,-97.75290157,DS,NaN,NaN,NaN
3977,30.51155562,-97.75290157,EP,NaN,NaN,3902
3978,30.51155562,-97.75290157,MP,NaN,NaN,3902
3979,30.51155562,-97.75290157,PP,NaN,NaN,3902
3980,30.26296519,-97.76505856,EP,NaN,NaN,NaN
3981,30.33180362,-97.93227014,BP,NaN,136000,1033
3982,30.33180362,-97.93227014,EP,NaN,NaN,1033
3983,30.16291061,-97.79312325,EP,NaN,NaN,NaN
3984,30.28976761,-97.72761398,MP,NaN,NaN,NaN
3985,30.1454047,-97.83995202,BP,NaN,70048,2159
3986,30.1454047,-97.83995202,DS,NaN,NaN,NaN
3987,30.1454047,-97.83995202,EP,NaN,NaN,2159
3988,30.23353584,-97.75829965,BP,11000,15000,NaN
3989,30.34287383,-97.77223791,BP,NaN,NaN,NaN
3990,30.28988858,-97.74552961,EP,NaN,NaN,NaN
3991,30.38867727,-97.85027206,PP,NaN,NaN,3873
3992,30.15339433,-97.85212938,PP,NaN,NaN,NaN
3993,30.36440943,-97.64406813,PP,NaN,NaN,NaN
3994,30.25121659,-97.87472128,BP,NaN,194425,4419
3995,30.38519498,-97.68775323,EP,NaN,NaN,NaN
3996,30.36067891,-97.64415312,PP,NaN,NaN,NaN
3997,30.25121659,-97.87472128,DS,NaN,NaN,NaN
3998,30.25121659,-97.87472128,EP,NaN,NaN,4419
3999,30.25121659,-97.87472128,MP,NaN,NaN,4419

In [54]:
pd.DataFrame.from_dict(df_dict).shape

(2000, 6)

In [42]:
df.shape

(2000, 6)

In [ ]:
def page_api(n, api_key):
    
    # set endpoint URL
    url = 'https://data.austintexas.gov/resource/x9yh-78fz.json'
    # query params
    payload = { '$limit': 2000,
                '$order': ':id',
                '$offset': 4000,
                '$select': 'longitude, latitude, \
                    permittype, applieddate'}
    # API token
    headers = { 'X-App-Token': api_key }
    
    for offset, limit in get_page_indexes(n):
        payload['$limit'] = limit
        payload['$offset'] = offset
        print(payload)
        
        res = requests.get(url, params=payload, headers=headers)
        
        # create a template dictionary
        # consisting of all unique keys
        # within input dataset
        df_dict = {}
        for key in get_unique_keys(res.json()):
            df_dict[key] = []

        # fill in the dictionary with
        # values from the API call
        # making sure to input nulls
        # where needed
        for row in res.json():
            for k in list(df_dict.keys()):
                try:
                    df_dict[k].append(row[k])
                    continue
                except KeyError:
                    df_dict[k].append(np.nan)
    
        # cram the dictionary into a dataframe
        df = pd.DataFrame.from_dict(df_dict)
        
        print(df.shape)

        df['applieddate'] = pd.to_datetime(df.copy()['applieddate'], format='%Y-%m-%d', errors='coerce')

        permit_encoder = {'EP': 0, 'MP': 1, 'PP': 2, 'BP': 3, 'DS': 4}
        df['permittype'] = df.copy()['permittype'].apply(lambda x: permit_encoder[x] if x else 999)

        for i in ['latitude', 'longitude']:
            df[i] = df.copy()[i].astype(float)
            
    return df
    
        # send request to api endpoint
#         res = requests.get(url, params=payload, headers=headers)